

* {
	-base-color: #F3F3F3;
	-layer-color: #FFFFFFB3;
	-layer-border-color: #0000000F;
	-accent-blue: #005FB8;
	-font-color: black;
	-window-border: #75757566;
	-button-color: #005FB8;
	-button-color-hover: #005FB8E6;
	-button-color-pressed: #005FB8CC;
	-button-border-color: #FFFFFF14;
	-button-text-color: #FFFFFF;
	-titlebar-button-hover: #0000000A;
	-titlebar-button-pressed: #00000005;
}

.transp {
    -fx-background-color: #202020;
}

.darkk .h {
	-fx-opacity: 0;
}

#micaBG {
	-fx-background-color: -base-color;
	-fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.mica {
    -fx-background-color: -base-color;
	-fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.dark *, .dark, * .dark {
	-base-color: #202020;
	-layer-color: #3A3A3A4D;
	-layer-border-color: #0000001A;
	-accent-blue: #60CDFF;
	-font-color: white;
	-window-border: #75757566;
	-button-color: #60CDFF;
	-button-color-hover: #60CDFFE6;
	-button-color-pressed: #60CDFFCC;
	-button-border-color: #FFFFFF14;
	-button-text-color: #000000;
	-titlebar-button-hover: #FFFFFF0F;
	-titlebar-button-pressed: #FFFFFF0A;
}

.dark .text {
	-fx-fill: white;
}

#titleBar {
    -fx-alignment: center-right;
    /*-fx-padding: 5px;
    -fx-border-width: 1 1 0 1px;
    -fx-border-color: #0000001F;*/
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-border-radius: 10px 10px 0px 0px;
}

#titleBar .decorated, .decorated #titlebar {
    -fx-pref-width: 0;
	-fx-opacity: 0;
}

#windowContainer {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 1 1 1 0.5px;
    -fx-border-color: -window-border;
}

#closeButton:hover, .closeButton:hover {
    -fx-background-color: red;
    -fx-background-radius: 0px 7px 0px 0px;
    -fx-border-radius: 0px 7px 0px 0px;
}

#closeButton, .closeButton {
    -fx-background-color: transparent;
    -fx-height: 40px;
	-fx-font: 10 "Segoe Fluent Icons";
}

#minimizeButton {
    -fx-background-color: transparent;
    -fx-height: 40px;
	-fx-font: 10 "Segoe Fluent Icons";
}

#maxButton {
	-fx-background-color: transparent;
    -fx-height: 40px;
	-fx-font: 10 "Segoe Fluent Icons";
}

#maxButton:hover {
	-fx-background-color: -titlebar-button-hover;
}

#minimizeButton:hover {
    -fx-background-color: -titlebar-button-hover;
}

#voltarButton {
	-fx-background-color: transparent;
    -fx-height: 40px;
	-fx-font: 10 "Segoe Fluent Icons";
}

#voltarButton:hover {
	-fx-background-color: #0000000A;
}

#bp {
	-fx-background-color: yellow;
}

.layer {
	-fx-background-color: -layer-color;
	-fx-border-width: 1px;
    -fx-border-color: -layer-border-color;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}



#voltarButton {
	-fx-background-color: transparent;
}

/*

.tab-pane .tab-header-area .tab {
	-fx-pref-height: 150;
	-fx-pref-width: 20;
}

.tab-pane .tab-header-area .tab {
	-fx-pref-width: 50;
	-fx-background-color: blue;
}

.tab .tab-label { 
	-fx-background-color: red;
	-fx-pref-width: 40;
	
 }
 
 #t1 .tab-label {
	-fx-pref-width: 80;
	-fx-pref-height: 170;
	-fx-background-color: green;
	-fx-rotate: 90;
	-fx-border-insets: -30 0 -10 0;
    -fx-background-insets: -30 0 -15 0;
}

*/

.drawerContent {
	-fx-background-color: -layer-color;
	-fx-background-radius: 10 0 10 0px;
    -fx-border-radius: 10 0 10 0px;
    -fx-border-width: 1px;
    -fx-border-color: -layer-border-color;
}

.dark .drawerContent {
    -layer-color: #3A3A3A4D;
	-layer-border-color: #0000001A;
	-fx-background-color: -layer-color;
    -fx-border-color: -layer-border-color;
}


* {
	-sec-color: transparent;
}

.sec {
	-fx-background-color: -sec-color;
}

.sec:hover {
	-sec-color: blue;
}

.drawerItem {
	-fx-border-insets: 3 5 3 5px;
    -fx-background-insets: 3 5 3 5px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -selector-color: transparent;
	-fx-background-color: transparent;
}

.drawerItem:selected {
	-fx-background-color: #0000000F;
	-selector-color: -accent-blue;
}

.drawerItem:hover {
	-fx-background-color: #0000000F;
}

.dark .drawerItem:hover {
	-fx-background-color: #FFFFFF0F;
}

.dark .drawerItem:selected {
	-fx-background-color: #FFFFFF0F;
	-selector-color: #60CDFF;
}

.selector {
	-fx-background-color: -selector-color;
	-fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

.drawerItem ImageView {
	-fx-image: url("../images/sairIcon.png");
}

.defaultButton {
	-fx-background-color: -button-color;
	-fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: -button-border-color;
}

.defaultButton:hover {
	-fx-background-color: -button-color-hover;
}

.defaultButton:pressed {
	-fx-background-color: -button-color-pressed;
}

.defaultButton .text {
	-fx-fill: -button-text-color;
}

.input {
	-fx-background-color: #FFFFFFB3;
	-fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-pref-height: 32;
    -fx-border-width: 1px;
    -fx-border-color: #0000000F #0000000F #8B8B8B #0000000F;
}

.input .dark, .dark .input {
	-fx-background-color: #FFFFFF0F;
    -fx-border-color: #FFFFFF14 #FFFFFF14 #9F9F9F #FFFFFF14;
	-fx-text-fill: rgba(255, 255, 255, 0.79);
}

.input:focused .dark, .dark .input:focused {
	-fx-background-color: #1E1E1EB3;
    -fx-border-width: 1 1 2 1px;
    -fx-border-color: #FFFFFF14 #FFFFFF14 #60CDFF #FFFFFF14;
	-fx-text-fill: white;
}

.input:hover {
	-fx-background-color: #F9F9F980;
}

.input:hover .dark, .dark .input:hover {
	-fx-background-color: #FFFFFF17;
}

.input:pressed, .input:focused {
	-fx-background-color: #F9F9F980;
    -fx-border-width: 1 1 2 1px;
    -fx-border-color: #0000000F #0000000F #005FB8 #0000000F;
}



/*************************************************************/

/* Scrollbar  */
.scroll-bar:vertical .track, .scroll-bar:horizontal .track{
    -fx-opacity: 0;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color:transparent;
}

.scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb{
    -fx-background-color: #d3d3d3;
}

.dark .scroll-bar:vertical .thumb, .dark .scroll-bar:horizontal .thumb{
    -fx-background-color: #343434;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}



/*******************************************************************/

/* outline button */

.outlineButton {
	-fx-border-width: 1px;
    -fx-border-color: #005FB8;
	-fx-background-color: transparent;
	-fx-background-radius: 50%;
    -fx-border-radius: 50%;
}


/********************************************************************/
/* userPicture */

.userPicture {
	-fx-border-width: 1px;
    -fx-border-color: #005FB8;
	-fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.roleIndicator {
	-fx-background-color: transparent;
	-fx-border-width: 1px;
    -fx-border-color: #323232;
	-fx-background-radius: 50%;
    -fx-border-radius: 50%;
}







/*********************************************/

.dotsButton  {
	-fx-background-color: transparent;
}

.dotsButton:hover {
	-fx-background-color: #0000000A;
	-fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.dark .dotsButton:hover {
	-fx-background-color: #FFFFFF0F;
}

.dotsButton:pressed  {
	-fx-background-color: #00000005;
}

.dark .dotsButton:pressed  {
	-fx-background-color: #FFFFFF0A;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.dotsButton .context-menu {
    /*-fx-background-color: rgb(33, 33, 33);*/
	-fx-background-color: #FCFCFC;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 6;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 6px; /* 4 1 8 1 */
	-fx-border-radius: 6px;
	-fx-border-color: #0000000F;
}

.dark .dotsButton .context-menu {
    /*-fx-background-color: rgb(33, 33, 33);*/
	-fx-background-color: #2C2C2C;
	-fx-border-color: #00000033;
}

.menu-item:focused .label {
    /*-fx-text-fill: red;*/
}

.menu-item:focused {
	-fx-background-color: #0000000A;
	-fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.dark .menu-item:focused {
	-fx-background-color: #FFFFFF0F;
}

.smoke {
	-fx-background-color: #0000004D;
}



/*  Dialog ********/ 

.dialog {
	-fx-background-color: #F3F3F3;
	-fx-border-width: 1px;
    -fx-border-color: #75757566;
	-fx-background-radius: 7px;
    -fx-border-radius: 7px;
	-fx-effect: dropshadow(gaussian, #00000030, 64, 0, 0, 32);
}

.dark .dialog {
	-fx-background-color: #202020;
	-fx-effect: dropshadow(gaussian, #0000005E, 64, 0, 0, 32);
}

#addUserIMG {
	-fx-image: url("../images/addUser2.png");
}

.dark #addUserIMG {
	-fx-image: url("../images/addUserDark.png");
}


/********************************************/

/* checkbox  */

.check-box .box {
	-fx-background-color: #00000008;
	-fx-border-width: 1px;
	-fx-border-color:#00000073;
	-fx-border-radius:3px; 
}

.dark .check-box .box {
	-fx-background-color: #0000001A;
	-fx-border-color:#FFFFFF8C;
}

.check-box:hover .box {
	-fx-background-color: #0000000F;
}

.check-box:pressed .box {
	-fx-background-color: #0000001A;
	-fx-border-color:#00000036;
}
	
.check-box:selected .mark {
	-fx-background-color: #FFFFFF;
}

.dark .check-box:selected .box {
	-fx-background-color: #60CDFF;
	-fx-border-color: #60CDFF;
}

.dark .check-box:selected .mark {
	-fx-background-color: black;
}
	
.check-box:selected .box {
	-fx-background-color: #005FB8;
	-fx-border-color:#005FB8;
}


/************************************/

/*normal button */

.normalButton {
	-fx-background-color: #FFFFFFB3;
	-fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: #0000000F;
}

.normalButton:hover {
	-fx-background-color: #F9F9F980;
}

.normalButton:pressed {
	-fx-background-color: #F9F9F94D;
}

.normalButton .text {
	-fx-fill: #000000E6;
}

.dark .normalButton {
	-fx-background-color: #FFFFFF0F;
    -fx-border-color: #FFFFFF1A;
}

.dark .normalButton:hover {
	-fx-background-color: #FFFFFF17;
}

.dark .normalButton:pressed {
	-fx-background-color: #FFFFFF0A;
	-fx-border-color: #FFFFFF12;
}

.dark .normalButton .text {
	-fx-fill: #FFFFFF;
}

#addSpecialtyIMG {
	-fx-image: url("../images/addSpecialty.png");
}

.dark #addSpecialtyIMG {
	-fx-image: url("../images/addSpecialty.png");
}

.card-surface {
	-fx-background-color: #FFFFFFB3;
	-fx-border-width: 1px;
    -fx-border-color: #0000000F;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
	/*-fx-effect: dropshadow(gaussian, #0000000A, 4, 0, 0, 2);*/
}

.dark .card-surface {
	-fx-background-color: #FFFFFF0F;
    -fx-border-color: #0000001A;
	/*-fx-effect: dropshadow(gaussian, #00000021, 4, 0, 0, 2);*/
}


/************************************************/

/* Combo box*/

.combo-box .list-cell 
{
    -fx-background: #202020;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}

.combo-box-popup .list-view 
{
    -fx-background-color: #0000000F, #202020;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}


/*  titled pane  */

.titled-pane > .title {
	-fx-background-color: transparent;
	-fx-padding: -25 0 0 0;
}

.titled-pane > .title > .arrow-button .arrow {
	-fx-background-color: transparent;
  }

/*    Botão de horario do agendamento */

.scheduling-button {
	-fx-background-color: transparent;
	-fx-border-radius: 4px;
	-fx-border-color: #00000024;
	-fx-border-width: 1px;
}

.scheduling-button .text {
	-fx-text-fill: #707070;
}